<div class="index-main">
</h1>Welcome to My Runner's Keeper!</h1>
<p> Here we post our run info and personal contact info to make it easier to encourage each other to run more frequently.</p>

<h3> Click here to see all <%= link_to "runners", runners_path %> </h3>
</div>
