<div class="runner_show">

  <h3> <%= @runner.full_name %> </h3>
    <ul>
      <% if @runner.captain %>
        <li class = "captain_bullet"> Captain </li>
        <li> @runner.email </li>
        <li> @runner.phone_number </li>
        <li id = "prof_page_photo"> <%= image_tag(@runner.img_url) %> </li>
        <% @runs.each do |run| %>
          <li class="run_display"> <%= run.distance %> </li>
        <% end %>
      <% end %>
    </ul>
</div>
